body {
    padding: 25px;
    overflow-x: hidden;
}

.container {
    max-width: 1000px;
}

.example {
    border: 1px lightgray solid;
}

.example > *:not(my-carousel) {
    padding: 10px 25px;
}

.example > h3 {
    margin: 0;
}

.example + .example {
    margin-top: 50px;
}

.features {
    display: flex;
    justify-content: center;
    padding: 25px 0;
}

.features__list{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    text-align: justify;
    align-items: center;
}

.features__list > * + * {
    margin-top: 5px;
}

code {
    display: block;
}

/*
Carousel
 */

/*CSS Style*/

my-carousel {
    --bgc: #fff;
}

my-carousel + * > * {
    margin-top: 25px;
}

.carousel {
    padding: 10px 25px;
    overflow: hidden;
}

.carousel__items::after {
    content: '';
    clear: both;
    display: table;
}

.carousel__container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel__items {
    height: auto;
    transition: transform .3s;
}

.carousel__item {
    position: relative;
    float: left;
}

.carousel__item > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel__controls {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel__button {
    border: 2px black solid;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    z-index: 4;
    transition: opacity .3s;
}

.carousel__button:hover {
    cursor: pointer;
    transform: scale3d(1.1, 1.1, 1);
}

.carousel__button:active {
    cursor: pointer;
    transform: scale3d(0.9, 0.9, 1);
}

.carousel__previous {
    margin-left: -15px;
    background: var(--bgc) url("assets/svg/left-arrow.svg") no-repeat center center;
    background-size: 15px 15px;
}

.carousel__next {
    margin-right: -15px;
    background: var(--bgc) url("assets/svg/right-arrow.svg") no-repeat center center;
    background-size: 15px 15px;
}

.carousel__previous-hidden, .carousel__next-hidden {
    opacity: 0;
}

.carousel__pagination {
    margin-top: 15px;
    z-index: 4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__pagination-hidden {
    display: none;
}

.carousel__pagination > * + * {
    margin-left: 10px;
}

.carousel__pagination-button {
    display: block;
    background-color: var(--accent);
    clip-path: circle();
    height: 10px;
    width: 10px;
    cursor: pointer;
    transform-origin: center center;
    transition: transform .3s;
}

.carousel__pagination-button-active, .carousel__pagination-button:hover {
    transform: scale3d(1.3, 1.3, 1);
}

@media screen and (max-width: 800px) {
    body {
        padding: 15px;
    }

    .features__list {
        grid-template-columns: 1fr;
    }

    .features__list code {
        margin-top: 15px;
    }
}