* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    font-family: 'Helvetica', Arial, sans-serif;
    min-height: 100vh;
    width: 100%;
    --accent: #31729f;
    --link: #267de7;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

footer {
    margin-top: auto;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--link);
}

pre {
    padding: 20px;
    background-color: #eee;
    overflow-x: auto;
}

code {
    font-size: 1rem;
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thin {
    font-weight: 300;
}

.accent {
    color: var(--accent)
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.85rem;
    }
}